//
// Buddy Colors
// 

$buddy-dark-bule: #212B46;
$buddy-light-bule: #2E769F;
$buddy-yellow: #E3B831;
$buddy-green: #01847F;

$link-color: $buddy-dark-bule;
$anchor-color: $buddy-light-bule;
$btn-primary-color: $buddy-dark-bule;
